<!--The about us page, created by Fred Marble.-->
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="colum">
      <div>
        <img src="./assets/fred_marble.png"/>
      </div>
      <div>
        <em>
          Photo by Fred Marble
        </em>
      </div>
    </div>
  </div>
  <div>
    <p>
      Here at nodebucket, we believe that everyone should be able to keep track of their tasks. This is why we have created this application. After all,
      we want you to be able to keep track of everything that you need to do, and what you have done. It helps you make sure that when you have an important task to do that you don’t forget to do it.
In the next iteration of nodebucket we are planning on adding in a Work-In-Process container. We are also wanting to get feedback from you if you, our customers, to find out if you would like to have the ability to select colors for your tasks so that way you can color code what tasks are for what job, project, class/course, or family member.
<br/>
Use the contact us page if you have any questions or comments that you feel like we should hear. We strive to respond within 24 hours or the next business day if it is the weekend. (We like our weekends off too… this way we can spend time with our family and fur kids. Sometimes they like to destroy fur-niture!)
      <img height="300px" width="300px" src="./assets/dogs_standing_on_stuffing_small.jpg"/>
    </p>
  </div>
</div>
