<div fxLayout="column">

    <!-- navigation -->
    <nav fxFlex>
      <mat-toolbar>
        <!-- navbar container -->
        <div class="navbar-container">
          <!-- logo -->
          <button class="logo" routerLink="/" mat-button>nodebucket</button>
          <button class="navbar-link" routerLink="/about-us" mat-button>About Us</button>
          <button class="navbar-link" routerLink="contact-us" mat-button>Contact Us</button>
        </div>

        <div fxFlex></div>
        <div *ngIf="isLoggedIn">
          <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="User Profile Menu">
            <mat-icon>perm_identity</mat-icon>
          </button>

          <mat-menu #profileMenu>
            <p style="padding: 10px;">
              Signed in as {{ name }}
            </p>

            <mat-divider></mat-divider>
            <button mat-menu-item (click)="signOut()">
              <mat-icon>logout</mat-icon>
              <span>Sign Out</span>
            </button>
          </mat-menu>
        </div>

      </mat-toolbar>
    </nav>

    <!-- main content -->
    <div fxFlex>
      <main class="main-content" fxFlex="100%;">
        <router-outlet></router-outlet>
      </main>
    </div>

    <!-- footer -->
    <div fxFlex>
      <footer class="footer">
        <mat-toolbar class="footer-content">
          <p>
            &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
          </p>
        </mat-toolbar>
      </footer>
    </div>

  </div>
